<form action="http://localhost:59312/auth/login" method="post">
  <div class="imgcontainer">
  </div>

  <div class="container">
    <label for="uname"><b>Email:</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <button type="submit">Login</button>
    <button type="button" class="cancelbtn">Cancel</button>
    
  </div>

</form>